body {
  background-color: #281E19;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #D6C8AE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #281E19;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  background-color: #281E19;
  color: #D6C8AE;
  cursor: pointer;
}