<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      <form method="post" action="/logar" class="login-form">
        <input type="text" placeholder="Nome" id="nome" name="nome" required>
        <input type="password" placeholder="Senha" id="senha" name="senha" required>
        <input type="submit" value="Logar" class="login-button" />
      </form>
    </div>
    </body>
    </html>